body{
    margin: 0;
    margin-bottom: 150px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    margin-bottom: 10px;
}
.navbar>h3{
    font-size: 24px;
    padding: 10px;
    border-radius: 7px;
}
.navbar>h3:hover{
    background: rebeccapurple;
    cursor: pointer;
}
.nav-itms a{
    text-decoration: none;
    padding: 8px;
    border-radius: 7px;

}
.nav-itms{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 20px;
}
.nav-btn{
    background-color: yellow;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
}
.img-div{
    background-image: url(./images/alley-89197_1280.jpg);
    width: 100%;
    height: 600px;
    color: white;
    margin-bottom: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.hello{
   font-size: 30px;
}




.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.about-section>p{
    margin-top: -10px;
    font-size: 18px;
}
.about-img{
    border: none;
}
.about-img>img{
    width: 400px;
    height: 450px;
    margin-left: 70px;
    border-radius: 7px;
}
.about-description{
    display: flex;
}
.about{
    padding-left: 70px;
    width: 900px;
    font-size: 24px;
    padding-right: 50px;

}
.about-btn{
    margin-top: 70px;
    background-color: yellow;
    color: white;
    border: none;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
}



.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.services>p{
    margin-top: -15px;
    font-size: 18px;
}
.services>h2{
    font-size: 36px;
}


.cards{
    display: flex;
    justify-content: center;
    gap: 120px;
    
}

.first-card{
    border: 2px solid gray;
    border-radius: 7px;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.second-card{
    border: 2px solid gray;
    border-radius: 7px;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.third-card{
    border: 2px solid gray;
    border-radius: 7px;
    width: 280px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.cards-btn{
    background-color: yellow;
    border: none;
    padding: 10px 70px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 80px;
}
